/*
Ejercicio completo con HTML y CSS
1. Crear un documento HTML y vincularlo con CSS
2. Crear una estructura HTML que cuente con un contenedor general,
cabecera, menu, barra lateral, sección de contenido principal,
elementos dentro del contenedor principal y footer.
3. Todo el contenido debe estar dentro del contenedor general
y su ancho será de 1200px y estar centrado.
4. Header debe ocupar el 100% del ancho y tener un texto grande
centrado.
5. Menu debe tener los elementos uno al lado del otro.
6. El contenido principal debe tener un ancho del 70%.
7. El contenido dentro del contenedor principal debe ser una cuadricula
con 4 lineas de 2 cajas.
8. La barra lateral debe tener un ancho del 30%.
9. El footer debe tener un ancho del 100% del div que lo contiene
y estar abajo del todo
*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#general{
    width: 1200px;
    margin: 0px auto;/*para centrar el contenido*/
    margin-top: 20px;
    border: 1px solid #ccc;
}

#header{
    width: 100%;/*para ocupar el 100% del ancho*/
    height: 100px;
    background: blue;
    color: white;
    text-align: center;
    line-height: 92px;/*para centrar el texto verticalmente*/
}

.clearfix{
    float: none;
    clear: both;
}

#menu ul li{
    /*display: inline-block;*/
    display: block;
    float: left;
}

/*
#contenedor{
    width: 1200px;    
    text-align: center;   
}

#header{
    font-size: 30px;
}

.caja{
    display: block;
    float: left;
}
*/
